template(name='books')
	h1 Top livros

template(name='newbook')
	h1 Cadastro de livro {{#autoForm collection="Books" type="insert" }}{{> afQuickField name="titulo"}}{{> afQuickField name="autor"}}{{> afQuickField name="paginas"}}{{> afQuickField name="picture"}}input(type="submit", name="submit", value="Adicionar Livro").btn.btn-sm{{/autoForm}}

template(name='listBooks')
	h1 Lista de livros
	//- form.new-book
	//- 	.form-group
	//- 		input.form-control(name="bName", placeholder="Nome do livro", type="text")
	//- 	.form-group
	//- 		input.form-control(name="bAutor", placeholder="Autor do livro", type="text")
	//- 	.form-group
	//- 		input.form-control(name="bPaginas", placeholder="Numero de paginas", type="text")
	//- 	.form-group
	//- 		input(type="file", name="CapaLivro")
	//- 	input(type="submit", name="submit", value="Adicionar Livro").btn.btn-sm