template(name='books')
	h1 Top livros

template(name='newbook')
	.container
		h1 Cadastro de livro
		+quickForm collection="Books" class="disable" id="insertBookForm" type="insert"

template(name='listBooks')
	.container
		h1 Lista de livros
		ul
		each books
			+lbook

template(name='lbook')
	if title	
		li #{title} - #{author}
	
