header, main, footer
	padding-left 240px
	@media (max-width : 992px)
		padding-left 0
.top-nav
	height 122px
	.page-title
		font-size 48px
		line-height 122px
	 
.logo
	text-align center
	margin-top 32px
	height 48px
	padding 0 !important
	pointer-events none
	#logo-container
		width 100% 
		img
			height 48px
			
.brand-name
	pointer-events none
	color: #444
	width 100%
	text-align center
	display block