template(name="navbar")
	nav.top-nav.teal
		.container
			.nav-wrapper
				a.page-title Can I borrow a book?
		ul#slide-out.side-nav.fixed
			li.logo
				a#logo-container.brand-logo: img(src="/images/logo.png", alt="")
			li.brand-name: h5.brand-name Just Books
			// Adicionar os links corretos abaixo ↓
			li.bold.active: a(href="#!") Home
			li.bold: a(href="#!") Livros
			li.bold: a(href="#!") Adicionar
			li.bold: a(href="#!") Logout
		a(href="#" data-activates="slide-out").button-collapse: i.mdi-navigation-menu