template(name="navbar")
	nav.top-nav.teal
		.container
			.nav-wrapper
				a.page-title Can I borrow a book?
		
		ul#slide-out.side-nav.fixed
			li.logo
				a#logo-container.brand-logo: img(src="/images/logo.png", alt="")
			li.brand-name: h5.brand-name Just Books
			li(class='{{activeMenu "home"}}'): a(href="/") Home
			li(class='{{activeMenu "newbook"}}'): a(href="/newbook") Adicionar
			li(class='{{activeMenu "listbooks"}}'): a(href="/listBooks") Listar
			li
				+atForm
		a(href="#" data-activates="slide-out").button-collapse: i.mdi-navigation-menu
