<template name="navbar">
	<nav>
	  <div class="nav-wrapper">
	    <a href="#!" class="brand-logo">JustBooks</a>
	    <ul class="right hide-on-med-and-down">
	      <li><a href="/"><i class="material-icons">search</i></a></li>
	      <li><a href="/listBooks"><i class="material-icons">view_module</i></a></li>
	      <li><a href="/newbook"><i class="material-icons dp48">library_add</i></a></li>
	      <li><a href="/"><i class="material-icons">more_vert</i></a></li>
				<li> {{> loginButtons}} </li>
	    </ul>
	  </div>
	</nav>
</template>
