object{
	display: none
}

.bold{
	font-weight: bold;
}

header, main, footer {
	@media (max-width : 992px) {
		padding-left: 0;
	}
}

nav{
	padding-left: 20px;
}

.logo {
	text-align: center;
	margin-top: 32px;
	height: 48px;
	padding: 0 !important;
	pointer-events: none;
	#logo-container {
		width: 100%;
		img {
			height: 48px;
		}
	}
}

.brand-name {
	pointer-events: none;
	color: #444;
	width: 100%;
	text-align: center;
	display: block;
}

#login-dropdown-list{
	right: 20px;
	left:inherit;
	top: 20px;
}
